<div data-uri="{{uri}}" data-action="view" class="radiate-delay pill">
    <img src="{{images.[0].url}}"/>

    <div class="text-content one-line">
        <div class="truncate">{{name}}</div>
    </div>
</div>