<li data-uri="spotify:category:{{id}}" data-action="view">
    <img class="responsive-img" src="{{icons.[0].url}}"/>

    <div class="text-content">
        <span class="name">{{name}}</span>
    </div>
</li>