<div data-uri="{{uri}}" data-action="view" class="radiate-delay pill">
    <img src="{{images.[0].url}}"/>

    <div class="text-content two-lines">
        <div class="truncate">{{name}}</div>
        <div class="truncate sub">{{tracks.total}} tracks</div>
    </div>
</div>