<div class="row header">
    <div class="column title">Track</div>
    <div class="column artist">Artists</div>
    <div class="column time">Time</div>
    <div class="column album">Album</div>
</div>