<li data-uri='{{uri}}' data-action='play' class="track-item">
    <img src='{{album.images.[2].url}}'/>
    <span class="name">{{name}}</span>
    {{#each artists}}
        <span class="artist">{{name}}</span>
    {{/each}}
</li>