<h2>{{message}}</h2>
<ul class="pills">
    {{#each featured}}
        {{> playlistPill}}
    {{/each}}
</ul>
<h4>Categories</h4>
<ul class="pills">
    {{#each categories}}
        {{> categoryPill}}
    {{/each}}
</ul>