<div class="view-details">
    <div class="view-detail-top colorize">
        <div class="image-wrap">
            <img src="{{icons.[0].url}}" class="detail-image"/>
        </div>

        <div class="detail-text">
            <h4>Category</h4>

            <h3>{{name}}</h3>
        </div>
    </div>
    <div class="card">
        <ul class="pills">
            {{#each playlists}}
                {{> playlistPill}}
            {{/each}}
        </ul>
    </div>
</div>