<div class="history-page">
    <h2>History</h2>
    <div class="track-table-wrap">
        <table class="track-table">
            {{> trackTableTop}}
            {{#each this}}
                {{> track}}
            {{/each}}
        </table>
    </div>
</div>