<div class="view-details">
    <div class="view-detail-top colorize">
        <div class="image-wrap">
            <img src="{{images.[0].url}}" class="detail-image"/>
        </div>

        <div class="detail-text">
            <h4>Playlist</h4>

            <h3>{{name}}</h3>

            <p>{{{description}}}</p>
        </div>
        {{> playButtons}}
    </div>
    <div class="track-table" data-uri="{{uri}}">
        {{> trackTableTop}}
        {{#each tracks.items}}
            {{#with track}}
                {{> track}}
            {{/with}}
        {{/each}}
    </div>
</div>