<h2>{{name}}</h2>
<div class="track-table-wrap">
    <table class="track-table">
        {{> trackTableTop}}
        {{#each tracks.items}}
            {{#with track}}
                {{> track}}
            {{/with}}
        {{/each}}
    </table>
</div>