<div class="view-details">
    <div class="view-detail-top">
        <img src="{{images.[0].url}}" class="detail-image"/>

        <div class="detail-text">
            <h3>Playlist</h3>

            <h2>{{name}}</h2>
            <button data-uri="{{uri}}" data-action="add">Add to queue</button>
            <button data-uri="{{uri}}" data-action="clear|add">Play</button>
        </div>
    </div>
    <div class="track-table-wrap">
        <table class="track-table">
            {{> trackTableTop}}
            {{#each tracks.items}}
                {{#with track}}
                    {{> track}}
                {{/with}}
            {{/each}}
        </table>
    </div>
</div>