
{{#if loading}}
    <div class="loader">
        <span>Loading...</span>

        <div class="spinner"></div>
    </div>
{{else}}
    {{#if emptySearch}}
        <div class="loader">
            <span>Enter your search above...</span>
        </div>
    {{/if}}
    {{#if tracks}}
        <div class="track-table-wrap">
            <table class="track-table">
                {{> trackTableTop}}
                {{#each tracks}}
                    {{> track}}
                {{/each}}
            </table>
        </div>
    {{/if}}
    {{#if artists}}
        <ul class="pills">
            {{#each artists}}
                {{> artistPill}}
            {{/each}}
        </ul>
    {{/if}}
    {{#if albums}}
        <ul class="pills">

            {{#each albums}}
                {{> albumPill}}
            {{/each}}
        </ul>
    {{/if}}
    {{#if playlists}}
        <ul class="pills">
            {{#each playlists}}
                {{> playlistPill}}
            {{/each}}
        </ul>
    {{/if}}
{{/if}}
